Uppgifter_CSharp/Uppgift2_Konsol/Service References/Uppgift2_ServiceReference/Uppgift2_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Grupp7" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Grupp7" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service has multiple web methods which all takes zero arguments and returns a specific collection of all the entities in a given table in the Friendly Database if successful. If an error occurs...</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Grupp7">
      <s:element name="GetAllPersons">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPersonsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPersonsResult" type="tns:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Profession" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="About" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Industry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldOfProfession" type="tns:FieldOfProfession" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLocationPurposes" type="tns:ArrayOfUserLocationPurpose" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FieldOfProfession">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Industry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Users" type="tns:ArrayOfUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserLocationPurpose">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserLocationPurpose" nillable="true" type="tns:UserLocationPurpose" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserLocationPurpose">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:Location" />
          <s:element minOccurs="0" maxOccurs="1" name="Purpose" type="tns:Purpose" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Purposetype" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FromDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ToDate" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Location">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLocationPurposes" type="tns:ArrayOfUserLocationPurpose" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Purpose">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PurposeType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLocationPurposes" type="tns:ArrayOfUserLocationPurpose" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPurposes">
        <s:complexType />
      </s:element>
      <s:element name="GetPurposesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPurposesResult" type="tns:ArrayOfPurpose" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPurpose">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Purpose" nillable="true" type="tns:Purpose" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLocations">
        <s:complexType />
      </s:element>
      <s:element name="GetLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationsResult" type="tns:ArrayOfLocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserLocationPurposes">
        <s:complexType />
      </s:element>
      <s:element name="GetUserLocationPurposesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserLocationPurposesResult" type="tns:ArrayOfUserLocationPurpose" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldOfProfessions">
        <s:complexType />
      </s:element>
      <s:element name="GetFieldOfProfessionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFieldOfProfessionsResult" type="tns:ArrayOfFieldOfProfession" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFieldOfProfession">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FieldOfProfession" nillable="true" type="tns:FieldOfProfession" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllPersonsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPersons" />
  </wsdl:message>
  <wsdl:message name="GetAllPersonsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetPurposesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPurposes" />
  </wsdl:message>
  <wsdl:message name="GetPurposesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPurposesResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserLocationPurposesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserLocationPurposes" />
  </wsdl:message>
  <wsdl:message name="GetUserLocationPurposesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserLocationPurposesResponse" />
  </wsdl:message>
  <wsdl:message name="GetFieldOfProfessionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFieldOfProfessions" />
  </wsdl:message>
  <wsdl:message name="GetFieldOfProfessionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFieldOfProfessionsResponse" />
  </wsdl:message>
  <wsdl:portType name="Uppgift2_ServiceSoap">
    <wsdl:operation name="GetAllPersons">
      <wsdl:input message="tns:GetAllPersonsSoapIn" />
      <wsdl:output message="tns:GetAllPersonsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPurposes">
      <wsdl:input message="tns:GetPurposesSoapIn" />
      <wsdl:output message="tns:GetPurposesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsSoapIn" />
      <wsdl:output message="tns:GetLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLocationPurposes">
      <wsdl:input message="tns:GetUserLocationPurposesSoapIn" />
      <wsdl:output message="tns:GetUserLocationPurposesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFieldOfProfessions">
      <wsdl:input message="tns:GetFieldOfProfessionsSoapIn" />
      <wsdl:output message="tns:GetFieldOfProfessionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Uppgift2_ServiceSoap" type="tns:Uppgift2_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="Grupp7/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="Grupp7/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurposes">
      <soap:operation soapAction="Grupp7/GetPurposes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="Grupp7/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLocationPurposes">
      <soap:operation soapAction="Grupp7/GetUserLocationPurposes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldOfProfessions">
      <soap:operation soapAction="Grupp7/GetFieldOfProfessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Uppgift2_ServiceSoap12" type="tns:Uppgift2_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPersons">
      <soap12:operation soapAction="Grupp7/GetAllPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="Grupp7/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurposes">
      <soap12:operation soapAction="Grupp7/GetPurposes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap12:operation soapAction="Grupp7/GetLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLocationPurposes">
      <soap12:operation soapAction="Grupp7/GetUserLocationPurposes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFieldOfProfessions">
      <soap12:operation soapAction="Grupp7/GetFieldOfProfessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Uppgift2_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service has multiple web methods which all takes zero arguments and returns a specific collection of all the entities in a given table in the Friendly Database if successful. If an error occurs...</wsdl:documentation>
    <wsdl:port name="Uppgift2_ServiceSoap" binding="tns:Uppgift2_ServiceSoap">
      <soap:address location="http://localhost:53586/Uppgift2_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Uppgift2_ServiceSoap12" binding="tns:Uppgift2_ServiceSoap12">
      <soap12:address location="http://localhost:53586/Uppgift2_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>