Uppgifter_CSharp/Uppgift1_Forms/Service References/Uppgift1_ServiceReference/Uppgift1_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Grupp7" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Grupp7" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service has one web method which takes a filename/filepath as paramater and returns the file content to the caller.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Grupp7">
      <s:element name="OpenFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OpenFileSoapIn">
    <wsdl:part name="parameters" element="tns:OpenFile" />
  </wsdl:message>
  <wsdl:message name="OpenFileSoapOut">
    <wsdl:part name="parameters" element="tns:OpenFileResponse" />
  </wsdl:message>
  <wsdl:portType name="Uppgift1_ServiceSoap">
    <wsdl:operation name="OpenFile">
      <wsdl:input message="tns:OpenFileSoapIn" />
      <wsdl:output message="tns:OpenFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Uppgift1_ServiceSoap" type="tns:Uppgift1_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpenFile">
      <soap:operation soapAction="Grupp7/OpenFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Uppgift1_ServiceSoap12" type="tns:Uppgift1_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpenFile">
      <soap12:operation soapAction="Grupp7/OpenFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Uppgift1_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service has one web method which takes a filename/filepath as paramater and returns the file content to the caller.</wsdl:documentation>
    <wsdl:port name="Uppgift1_ServiceSoap" binding="tns:Uppgift1_ServiceSoap">
      <soap:address location="http://localhost:51873/Uppgift1_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Uppgift1_ServiceSoap12" binding="tns:Uppgift1_ServiceSoap12">
      <soap12:address location="http://localhost:51873/Uppgift1_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>