Uppgifter_CSharp/Uppgift2_Forms/Service References/Uppgift2_ServiceReference/Uppgift2_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Grupp7" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Grupp7" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service has multiple web methods which all takes zero arguments and returns an object collection of all the entities in a given table in the Friendly Database if successful. If an error occurs the methods will throw a FaultException which must be handled by the client.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Grupp7">
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Profession" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="About" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Industry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldOfProfession" type="tns:FieldOfProfession" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLocationPurposes" type="tns:ArrayOfUserLocationPurpose" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FieldOfProfession">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Industry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Users" type="tns:ArrayOfUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserLocationPurpose">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserLocationPurpose" nillable="true" type="tns:UserLocationPurpose" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserLocationPurpose">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="tns:Location" />
          <s:element minOccurs="0" maxOccurs="1" name="Purpose" type="tns:Purpose" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Purposetype" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FromDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ToDate" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Location">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLocationPurposes" type="tns:ArrayOfUserLocationPurpose" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Purpose">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PurposeType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserLocationPurposes" type="tns:ArrayOfUserLocationPurpose" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllPurposes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPurposesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPurposesResult" type="tns:ArrayOfPurpose" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPurpose">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Purpose" nillable="true" type="tns:Purpose" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllLocations">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLocationsResult" type="tns:ArrayOfLocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Location" nillable="true" type="tns:Location" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllUserLocationPurposes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUserLocationPurposesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUserLocationPurposesResult" type="tns:ArrayOfUserLocationPurpose" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFieldOfProfessions">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFieldOfProfessionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFieldOfProfessionsResult" type="tns:ArrayOfFieldOfProfession" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFieldOfProfession">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FieldOfProfession" nillable="true" type="tns:FieldOfProfession" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPurposesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPurposes" />
  </wsdl:message>
  <wsdl:message name="GetAllPurposesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPurposesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLocations" />
  </wsdl:message>
  <wsdl:message name="GetAllLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUserLocationPurposesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUserLocationPurposes" />
  </wsdl:message>
  <wsdl:message name="GetAllUserLocationPurposesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUserLocationPurposesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFieldOfProfessionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFieldOfProfessions" />
  </wsdl:message>
  <wsdl:message name="GetAllFieldOfProfessionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFieldOfProfessionsResponse" />
  </wsdl:message>
  <wsdl:portType name="Uppgift2_ServiceSoap">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPurposes">
      <wsdl:input message="tns:GetAllPurposesSoapIn" />
      <wsdl:output message="tns:GetAllPurposesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <wsdl:input message="tns:GetAllLocationsSoapIn" />
      <wsdl:output message="tns:GetAllLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserLocationPurposes">
      <wsdl:input message="tns:GetAllUserLocationPurposesSoapIn" />
      <wsdl:output message="tns:GetAllUserLocationPurposesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFieldOfProfessions">
      <wsdl:input message="tns:GetAllFieldOfProfessionsSoapIn" />
      <wsdl:output message="tns:GetAllFieldOfProfessionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Uppgift2_ServiceSoap" type="tns:Uppgift2_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="Grupp7/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPurposes">
      <soap:operation soapAction="Grupp7/GetAllPurposes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <soap:operation soapAction="Grupp7/GetAllLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserLocationPurposes">
      <soap:operation soapAction="Grupp7/GetAllUserLocationPurposes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFieldOfProfessions">
      <soap:operation soapAction="Grupp7/GetAllFieldOfProfessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Uppgift2_ServiceSoap12" type="tns:Uppgift2_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="Grupp7/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPurposes">
      <soap12:operation soapAction="Grupp7/GetAllPurposes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <soap12:operation soapAction="Grupp7/GetAllLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserLocationPurposes">
      <soap12:operation soapAction="Grupp7/GetAllUserLocationPurposes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFieldOfProfessions">
      <soap12:operation soapAction="Grupp7/GetAllFieldOfProfessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Uppgift2_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service has multiple web methods which all takes zero arguments and returns an object collection of all the entities in a given table in the Friendly Database if successful. If an error occurs the methods will throw a FaultException which must be handled by the client.</wsdl:documentation>
    <wsdl:port name="Uppgift2_ServiceSoap" binding="tns:Uppgift2_ServiceSoap">
      <soap:address location="http://localhost:53586/Uppgift2_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Uppgift2_ServiceSoap12" binding="tns:Uppgift2_ServiceSoap12">
      <soap12:address location="http://localhost:53586/Uppgift2_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>