Uppgifter_CSharp/Uppgift2_Forms/Service References/Uppgift2_ServiceReference/Uppgift2_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Grupp7" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Grupp7" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service has multiple web methods which all takes zero arguments and returns an object collection of all the entities in a given table in the Friendly Database if successful. If an error occurs the methods will return a collection of objects where the first element is a string with an error message. The client application must check the first element in the array to handle errors.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Grupp7">
      <s:element name="GetAllPersons">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPersonsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPersonsResult" type="tns:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllPurposes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPurposesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPurposesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocations">
        <s:complexType />
      </s:element>
      <s:element name="GetLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationsResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserLocationPurposes">
        <s:complexType />
      </s:element>
      <s:element name="GetUserLocationPurposesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserLocationPurposesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFieldOfProfessions">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFieldOfProfessionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFieldOfProfessionsResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllPersonsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPersons" />
  </wsdl:message>
  <wsdl:message name="GetAllPersonsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPurposesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPurposes" />
  </wsdl:message>
  <wsdl:message name="GetAllPurposesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPurposesResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserLocationPurposesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserLocationPurposes" />
  </wsdl:message>
  <wsdl:message name="GetUserLocationPurposesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserLocationPurposesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFieldOfProfessionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFieldOfProfessions" />
  </wsdl:message>
  <wsdl:message name="GetAllFieldOfProfessionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFieldOfProfessionsResponse" />
  </wsdl:message>
  <wsdl:portType name="Uppgift2_ServiceSoap">
    <wsdl:operation name="GetAllPersons">
      <wsdl:input message="tns:GetAllPersonsSoapIn" />
      <wsdl:output message="tns:GetAllPersonsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPurposes">
      <wsdl:input message="tns:GetAllPurposesSoapIn" />
      <wsdl:output message="tns:GetAllPurposesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsSoapIn" />
      <wsdl:output message="tns:GetLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLocationPurposes">
      <wsdl:input message="tns:GetUserLocationPurposesSoapIn" />
      <wsdl:output message="tns:GetUserLocationPurposesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFieldOfProfessions">
      <wsdl:input message="tns:GetAllFieldOfProfessionsSoapIn" />
      <wsdl:output message="tns:GetAllFieldOfProfessionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Uppgift2_ServiceSoap" type="tns:Uppgift2_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="Grupp7/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="Grupp7/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPurposes">
      <soap:operation soapAction="Grupp7/GetAllPurposes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="Grupp7/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLocationPurposes">
      <soap:operation soapAction="Grupp7/GetUserLocationPurposes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFieldOfProfessions">
      <soap:operation soapAction="Grupp7/GetAllFieldOfProfessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Uppgift2_ServiceSoap12" type="tns:Uppgift2_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPersons">
      <soap12:operation soapAction="Grupp7/GetAllPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="Grupp7/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPurposes">
      <soap12:operation soapAction="Grupp7/GetAllPurposes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap12:operation soapAction="Grupp7/GetLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLocationPurposes">
      <soap12:operation soapAction="Grupp7/GetUserLocationPurposes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFieldOfProfessions">
      <soap12:operation soapAction="Grupp7/GetAllFieldOfProfessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Uppgift2_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This web service has multiple web methods which all takes zero arguments and returns an object collection of all the entities in a given table in the Friendly Database if successful. If an error occurs the methods will return a collection of objects where the first element is a string with an error message. The client application must check the first element in the array to handle errors.</wsdl:documentation>
    <wsdl:port name="Uppgift2_ServiceSoap" binding="tns:Uppgift2_ServiceSoap">
      <soap:address location="http://localhost:53586/Uppgift2_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Uppgift2_ServiceSoap12" binding="tns:Uppgift2_ServiceSoap12">
      <soap12:address location="http://localhost:53586/Uppgift2_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>